{% extends "phonebook/wrapper.html" %}

{% block content %}
    <!-- Sidebar -->
     <div class="sidebar" id="sidebar">
    <div class="list-group">
        {% for department in departments %}
            <a class="list-group-item list-group-item-action" href="#department{{ forloop.counter }}">{{ department }}</a>
        {% endfor %}
    </div>
    </div>

<!-- Page content -->
<div class="content" id="content" data-spy="scroll" data-target="#sidebar" data-offset="0">
<!-- Table -->
<table class="table table-sm table-bordered">
  <thead>
    <tr>
      <th scope="col">ФИО</th>
      <th scope="col">Должность</th>
      <th scope="col">E-Mail</th>
      <th scope="col">Городской телефон</th>
      <th scope="col">IP телефон</th>
    </tr>
  </thead>
<tbody>

{% for department in departments %}
    <tr class="alert-dark">
        <th colspan="6" id="department{{ forloop.counter }}"> {{ department }}</th>
    </tr>
    {% for person in person_list %}
        {% if person.department == department %}
        <tr>
            <th scope="row"> {{ person }}</th>

            {% if person.position %}
                <td>{{ person.position }}</td>
            {% else %}
                <td>{{ "-" }}</td>
            {% endif %}

            {% if person.email %}
                <td>{{ person.email }}</td>
            {% else %}
                <td>{{ "-" }}</td>
            {% endif %}

            {% if person.city_phone %}
                <td>{{ person.city_phone }}</td>
            {% else %}
                <td>{{ "-" }}</td>
            {% endif %}

            {% if person.ip_phone %}
                <td>{{ person.ip_phone}}</td>
            {% else %}
                <td>{{ "-" }}</td>
            {% endif %}
        </tr>
        {% endif %}
    {% endfor %}
{% endfor %}
</tbody>
</table>
<button class="btn btn-light scroll-top-button" id="push" style="border-color: lightgrey">
    <i class="fa fa-arrow-up fa-2x" aria-hidden="true"></i>
</button>
</div>
{% endblock %}