{% extends "phonebook/wrapper.html" %}

{% block content %}
<table class="table table-sm">
  <thead class="thead-dark text-center">
    <tr>
      <th scope="col">ФИО</th>
      <th scope="col">Должность</th>
      <th scope="col">E-Mail</th>
      <th scope="col">Городской телефон</th>
      <th scope="col">IP телефон</th>
    </tr>
  </thead>
<tbody>

{% load static %}
<link rel="stylesheet" href="{% static 'css/table-style.css' %}" type="text/css"/>
{% for department in departments %}

    {% for person in person_list %}
        {% if person.department == department %}
        <tr>
            <th scope="row"> {{ person }}</th>
            <td>{{ person.position }}</td>
            <td>{{ person.email }}</td>

            {% if person.city_phone %}
                <td>{{ person.city_phone }}</td>
            {% else %}
                <td>{{ "-" }}</td>
            {% endif %}

            {% if person.ip_phone %}
                <td>{{ person.ip_phone}}</td>
            {% else %}
                <td>{{ "-" }}</td>
            {% endif %}
        </tr>
        {% endif %}
    {% endfor %}
{% endfor %}
</tbody>
</table>
{% endblock %}