{% extends "phonebook/wrapper.html" %}

{% block content %}
<table class="table table-sm table-bordered" data-spy="scroll" data-target="#sidebar">
  <thead>
    <tr>
      <th scope="col">ФИО</th>
      <th scope="col">Должность</th>
      <th scope="col">E-Mail</th>
      <th scope="col">Городской телефон</th>
      <th scope="col">IP телефон</th>
    </tr>
  </thead>
<tbody>

    {% for person in person_list %}
        <tr>
            <th scope="row"> {{ person }}</th>

            {% if person.position %}
                <td>{{ person.position }}</td>
            {% else %}
                <td>{{ "-" }}</td>
            {% endif %}

            {% if person.email %}
                <td>{{ person.email }}</td>
            {% else %}
                <td>{{ "-" }}</td>
            {% endif %}

            {% if person.city_phone %}
                <td>{{ person.city_phone }}</td>
            {% else %}
                <td>{{ "-" }}</td>
            {% endif %}

            {% if person.ip_phone %}
                <td>{{ person.ip_phone}}</td>
            {% else %}
                <td>{{ "-" }}</td>
            {% endif %}
        </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}