<!DOCTYPE html>
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/bootstrap-custom-style.css' %}" type="text/css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/moment-with-locales.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jQuery_3.4.1.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тестовая страница</title>
    <link rel="shortcut icon" href="{% static 'site_icon/site_icon.png' %}" type="image/png">
    <link rel="icon" href="{% static 'site_icon/site_icon.png' %}" type="image/png">
</head>
<body>

<!-- Нужно для подсказок. Используется после построения HTML документа -->
<script>
    $(document).ready(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

<!-- navbar -->
<nav class="navbar navbar-expand-md fixed-top">
  <div class="container-fluid">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link menu-navbar" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-bars" data-toggle="tooltip" title="Меню"></i></a>
        <div class="dropdown-menu" aria-labelledby="dropdown04">
          <a class="dropdown-item" href="/admin">Панель администратора</a>
          <a class="dropdown-item" href="#">Экспорт в CSV</a>
          <a class="dropdown-item" href="#">Экспорт в CSV все регионы</a>
        </div>
      </li>
        <li class="nav-item">
            <div class="navbar-brand">Телефонный справочник ФГБУ</div>
        </li>
        <li data-toggle="tooltip" title="Выбор региона" class="nav-item" id="region">
            <a class="nav-link nav-region" href="" data-toggle="modal" data-target="#regionModalWindowSelector">{{ region.0.region_name }}</a>
        </li>
        <li class="nav-item" id="region">
            <div class="nav-link nav-region"> {{ region.0.city_id.city_name }}</div>
        </li>
        <li class="nav-item" data-toggle="tooltip" title="Время в регионе">
            <div id="time" class="navbar-brand"></div>
        </li>
    </ul>
      <div class="navbar-form navbar-right">
          <!-- Form -->
    <form class="form-inline my-2 my-sm-0" action="{% url 'phonebook:search' region.0.id %}" method="get">
      {{ form }}
        <button type="submit" class="btn btn-light mr-sm-2" style="border-color: lightgrey" data-toggle="tooltip" title="Поиск">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
        <button type="submit" class="btn btn-light" style="border-color: lightgrey" data-toggle="tooltip" title="Очистить" name="clear">
              <i class="fa fa-close mr-ms-2" aria-hidden="true"></i>
        </button>
    </form>
  </div>
      </div>
</nav>

<!-- Main block -->
<div class="main">
{% block content %}

{% endblock %}
</div>
</div>

<!-- Скрипт, который скроллит страницу в самый вверх и который отсылает ajax запрос при вызове модального окна -->
<script>
    $(document).ready(function () {
        // Таймер, который каждую секунду обновляет текущее время
        $("#time").text('00:00:00');
        setInterval(function() {
            var time = moment().utcOffset(60 * {{ region.0.city_id.timezone }});
            $("#time").text(time.format('HH:mm:ss'));
        }, 1000);

        // Кнопка в правом нижнем углу, при нажатии которой страница скроллится в самый вверх
        $("#push").click(function () {
            $("#content").animate({ scrollTop: 0 }, 600);
        });

        // При нажатии на кнопку выбора региона, отсылается ajax запрос, который возвращает список регионов
        $('#region').click(function () {
            $.ajax({
                method: 'GET',
                url: '/',
                success: function (data) {
                    $("#modal-window-content").html(data);
                    },
                error: function (data) {
                    $("#modal-window-content").html("Ошибка загрузки. Попробуйте перезагрузить страницу")
                }
            })
        })
    });
</script>

<!-- Modal Window -->
<div class="modal fade" id="regionModalWindowSelector" tabindex="-1" role="dialog" aria-labelledby="regionModalWindowSelectorLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="regionModalWindowSelectorLabel">Список регионов</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-window-content">
        Загрузка...
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

</body>
</html>