.main{
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 59px;
}

body{
    font-size: 12pt;
}

.table td {
    text-align: center;
}

.table th {
    text-align: center;
}

/* The side navigation menu */
.sidebar {
    background-color: #f1f1f1;
    padding: 10px 0;
    width: 300px;
    float: left;
	height: 100%;
    overflow-y: scroll;
}

.sidebar .divider {
    background-color: #e5e5e5;
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
/*.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}*/

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 300px;
  height: 100%;
  overflow-y: scroll;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}